body{
    background-image: url("/2560x1440.png");
}

main{
    display: flex;
    justify-content: center;
}

#app{
    display: inline-block;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #1c1c1c;
    background: rgba(255,255,255,0.6);
    width: 70%;
}
